$primary: #48c0b6;
$secondary: #5400e8;

$white: #fff;
$black: #000;

$gray-dark: #707070;
$gray-medium: #c8c8c8;
$gray-light: #f2f2f2;

$gray-01: #5f5f70;
$gray-02: #9191a3;
$gray-03: #aeaec1;
$gray-04: #cfcfdc;
$gray-05: #e6e6f2;
$gray-06: #f5f5fc;
$gray-07: #84848c;

// Notifications
$success: #28a745;
$info: #17a2b8;
$warning: #ebc85c;
$danger: #dc3545;

