$primary: #48c0b6;
$secondary: #5400e8;

$white: #fff;
$black: #000;

$grey-dark: #707070;
$grey-medium: #c8c8c8;
$grey-light: #f2f2f2;

$grey-01: #5f5f70;
$grey-02: #9191a3;
$grey-03: #aeaec1;
$grey-04: #cfcfdc;
$grey-05: #e6e6f2;
$grey-06: #f5f5fc;
$grey-07: #84848c;

// Notifications
$success: #28a745;
$info: #17a2b8;
$warning: #ebc85c;
$danger: #dc3545;

